<div class="container">
    <div class="row">
        <div class="col-md-3" style="float: left; color:black;background-color:whitesmoke;"><br>
            <h2 style="text-align:center;font-size: 1.5rem; font-weight: 500;">MENU</h2><br>
            <h5 style="font-weight: 600;">Food-Restaurant</h5>
            <ul>
                <li>North Indian</li>
                <li>South Indian</li>
                <li>Chinese food</li>
                <li>Italian</li>
               
            </ul>
            <h5 style="font-weight: 600;">Snacks</h5>
            <ul>
                <li>Pani puri</li>
                <li>Veg Biriyani</li>
                <li>Gobi Manchurian</li>
            </ul>
            <h5 style="font-weight: 600;">Beverages-Bar</h5>
            <ul>
                <li>Alcoholic</li>
                <li>Non-alcoholic</li>
               
            </ul>
        </div>
        <div class="col-md-9" style="float: right;">
            
            <h2 style="text-align:center; font-size: 1.5rem; font-weight: 700;">Day Special Menus</h2>
        
                <div class="row" style="margin-left: 10px;">
                <div class="col-md-4" style="padding: 10px;">
                    <div class="card" style="margin-left:10px;width: 15rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/v17dtx2ko0mytykyehm3" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center;font-weight: 700;"> Saturday Special</h5>
                       
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="padding: 10px;">
                    <div class="card" style="margin-left:10px;width: 15rem;">
                    <img class="card-img-top" src="https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/01/17/Pictures/_bbe70fea-1a67-11e9-9a47-fd04d5270281.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center;font-weight: 700;">Sunday Special</h5>
                       
                    </div>
                    </div>
                </div>

                </div>
            

        </div>
    </div>
</div>