

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="float: left;background-color: white;color: whitesmoke;">
        </div>

          <div class="col-md-9" style="float: right;">
            

              <div class="row"  style="margin-left: 10px;">
                  <div class="col-md-6">
                    <div class="card" style="width: 20rem;">
                      <img class="card-img-top" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_650,q_auto,w_1000/itemimages/19/55/1955269_v1.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h2 class="card-title" style="font-weight: 700;">AC Double Bed</h2>
                       
                      </div>
                      
                      
                    </div>
                </div>
      
                <div class="col-md-6">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/25/d0/19/hotel-harmony-porbandar.jpg?w=900&h=-1&s=1" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700;">AC Single Bed</h2>
                     
                    </div>
                   
   
                  </div>
                </div>
              </div>
              <br>
              <div class="row"  style="margin-left: 10px;">
                <div class="col-md-6">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_650,q_auto,w_1000/itemimages/19/55/1955269_v1.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700;">Double Bed</h2>
                     
                    </div>
                   
                   
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/25/d0/19/hotel-harmony-porbandar.jpg?w=900&h=-1&s=1" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700;">Single Bed</h2>
                     
                    </div>
                    
                    
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>