<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="float: left;">
            <div class="btn-group-vertical special">
                <button type="button" style="background-color: lightpink; color:black" class="btn "><a routerLink="/orders" style="text-decoration: none; color: inherit;">Reservation</a></button>
                <button type="button" style="background-color: lightpink; color:black" class="btn btn-secondary"><a routerLink="/details" style="text-decoration: none; color: inherit;">Details</a></button>
                <button type="button"  style="background-color: lightpink; color:black" class="btn btn-secondary">Cancel Room</button>
                <button type="button"  style="background-color: lightpink; color:black" class="btn btn-secondary">Logout</button>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4" style="float: right;">
            
        </div>
    </div>
</div>